@import "tailwindcss";
@import "@nuxt/ui";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@source "../../../content/**/*";

@theme {
  --font-sans: 'IranYekan', 'Public Sans', sans-serif;
}

.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}
.swiper-pagination {
  bottom: 0 !important;

}
.swiper-pagination-bullet {
  background-color: var(--text-color-default);
}
.swiper-pagination-bullet-active{
  background-color: var(--color-primary);
}
@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('IRANYekan Thin'),
       url('../fonts/iranyekan/woff2/IRANYekanWebThin.woff2') format('woff2'),
       url('../fonts/iranyekan/woff/IRANYekanWebThin.woff') format('woff'),
       url('../fonts/iranyekan/ttf/IRANYekanWebThin.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IRANYekan Light'),
       url('../fonts/iranyekan/woff2/IRANYekanWebLight.woff2') format('woff2'),
       url('../fonts/iranyekan/woff/IRANYekanWebLight.woff') format('woff'),
       url('../fonts/iranyekan/ttf/IRANYekanWebLight.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IRANYekan Regular'),
       url('../fonts/iranyekan/woff2/IRANYekanWebRegular.woff2') format('woff2'),
       url('../fonts/iranyekan/woff/IRANYekanWebRegular.woff') format('woff'),
       url('../fonts/iranyekan/ttf/IRANYekanWebRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IRANYekan Medium'),
       url('../fonts/iranyekan/woff2/IRANYekanWebMedium.woff2') format('woff2'),
       url('../fonts/iranyekan/woff/IRANYekanWebMedium.woff') format('woff'),
       url('../fonts/iranyekan/ttf/IRANYekanWebMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IRANYekan Bold'),
       url('../fonts/iranyekan/woff2/IRANYekanWebBold.woff2') format('woff2'),
       url('../fonts/iranyekan/woff/IRANYekanWebBold.woff') format('woff'),
       url('../fonts/iranyekan/ttf/IRANYekanWebBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('IRANYekan ExtraBold'),
       url('../fonts/iranyekan/woff2/IRANYekanWebExtraBold.woff2') format('woff2'),
       url('../fonts/iranyekan/woff/IRANYekanWebExtraBold.woff') format('woff'),
       url('../fonts/iranyekan/ttf/IRANYekanWebExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('IRANYekan Black'),
       url('../fonts/iranyekan/woff2/IRANYekanWebBlack.woff2') format('woff2'),
       url('../fonts/iranyekan/woff/IRANYekanWebBlack.woff') format('woff'),
       url('../fonts/iranyekan/ttf/IRANYekanWebBlack.ttf') format('truetype');
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-sans);
  line-height: 1.6;
  overflow-x: hidden;
}
